<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dash-bca/css/contratos.css">
    <title>Formulario de Contrato de Pago Único</title>
</head>
<body>
    <div class="containerunico">
        <h3>Formulario de Contrato</h3>
        <div class="contract-info">
            <p id="contractNumberDisplay"></p>
            <p id="clientNumberDisplay"></p>
        </div>
        <br></br>
        
        <form id="form">
            <div class="row">
                <div class="col-md-6">
                    <label for="ncliente">Número de Cliente</label>
                    <input type="text" id="ncliente" name="ncliente" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="ncontrato">Número de Contrato</label>
                    <input type="text" id="ncontrato" name="ncontrato" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="nombreco">Nombre Comercial</label>
                    <input type="text" id="nombreco" name="nombreco" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="rsocial">Razón Social</label>
                    <input type="text" id="rsocial" name="rsocial" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="dni">CIF / NIF</label>
                    <input type="text" id="dni" name="dni" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="telefono">Teléfono</label>
                    <input type="text" id="telefono" name="telefono" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="telefonofijo">Teléfono Fijo</label>
                    <input type="text" id="telefonofijo" name="telefonofijo" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="nombrea">Nombre y Apellido</label>
                    <input type="text" id="nombrea" name="nombrea" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="dni2">DNI</label>
                    <input type="text" id="dni2" name="dni2" class="form-control">
                </div>
                <div class="col-md-12">
                    <label for="email">Correo electrónico</label>
                    <input type="email" id="email" name="email" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="direccion">Dirección</label>
                    <input type="text" id="direccion" name="direccion" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="municipio">Municipio</label>
                    <input type="text" id="municipio" name="municipio" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="provincia">Provincia</label>
                    <input type="text" id="provincia" name="provincia" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="cp">Código Postal</label>
                    <input type="text" id="cp" name="cp" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="pais">País</label>
                    <input type="text" id="pais" name="pais" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="pcontacto">Persona de Contacto</label>
                    <input type="text" id="pcontacto" name="pcontacto" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="telecontacto">Teléfono de Contacto</label>
                    <input type="text" id="telecontacto" name="telecontacto" class="form-control">
                </div>
                <div class="col-md-12">
                    <label for="rservicios">Resumen de Servicios</label>
                    <textarea id="plan" name="plan" rows="5" class="form-control" placeholder="Escribe el plan contratado aquí..."></textarea>
                </div>
                <div class="col-md-6">
                    <label for="formadepago">Forma de Pago</label>
                    <input type="text" id="formadepago" name="formadepago" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="referencia">Referencia</label>
                    <input type="text" id="referencia" name="referencia" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="totalproyecto">Costo Total del Proyecto</label>
                    <input type="text" id="totalproyecto" name="totalproyecto" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="anticipo">Anticipo</label>
                    <input type="text" id="anticipo" name="anticipo" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="subtotal">Subtotal</label>
                    <input type="text" id="subtotal" name="subtotal" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="descuentocomercial">Descuento Comercial</label>
                    <input type="text" id="descuentocomercial" name="descuentocomercial" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="iva">IVA Aplicable</label>
                    <input type="text" id="iva" name="iva" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="importetotal">Importe Total</label>
                    <input type="text" id="importetotal" name="importetotal" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="responsable">Responsable de Proyecto</label>
                    <input type="text" id="responsable" name="responsable" class="form-control">
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn">Generar PDF</button>
                </div>
            </div>
        </form>
    </div>

    <script src="/dash-bca/js/contratounico.js"></script>
    <script src="/dash-bca/js/jspdf.min.js"></script>
<script>
  document.querySelector('#form').addEventListener('submit', async (e) => {
      e.preventDefault();

      const { jsPDF } = window.jspdf;
      const pdf = new jsPDF('p', 'pt', 'letter');
      const image1 = await loadImage("../public/images/contrato1.png");
      const image2 = await loadImage("../public/images/acuerdo.jpg");
     
      pdf.addImage(image1, 'PNG', 9, 0, 595, 792);
      pdf.text("Datos del cliente: " + document.getElementById('ncliente').value, 50, 100); 
      // Agrega más textos y valores del formulario aquí

      pdf.addPage();
      pdf.addImage(image2, 'PNG', 9, 0, 595, 792);
      pdf.save("contratounico.pdf");
  });

  function loadImage(url) {
      return new Promise(resolve => {
          const img = new Image();
          img.onload = () => resolve(img);
          img.src = url;
      });
  }
</script>

    
</body>
</html>
