<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/dash-bca/css/dashboard.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/dash-bca/images/BCA COLOR.png" alt="Logo de la Empresa">
        </div>
        <div class="user-menu">
            <img src="<%= profilePic %>" alt="Perfil" class="profile-pic" onclick="toggleProfileMenu()">
            <div class="user-info">
                <span class="username"><%= username %></span>
            </div>
        </div>
        
        <div class="dropdown-menu" id="profileMenu">
            <a href="#" class="modal-button" data-target="changePhotoModal">Cambiar Foto</a>
            <a href="#" class="modal-button" data-target="changeNameModal">Cambiar Nombre</a>
            <a href="#" class="modal-button" data-target="changePasswordModal">Cambiar Contraseña</a>
            <a href="#" id="registerLink">Registrar Usuario</a>
            <a href="/dash-bca/logout">Cerrar Sesión</a>
        </div>
        
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Pago Único</a></li>
            <li><a href="#">Pago Mensual</a></li>
            <li><a href="#">Agregar Cliente</a></li>
            <li><a href="#">Ver Clientes</a></li>
            <li><a href="#">Cuenta de Usuario</a></li>
        </ul>
    </nav>
    <main>
        <canvas id="myChart"></canvas>
    </main>

    <div id="content">
        <!-- Aquí se cargará el contenido dinámico -->
    </div>    
    

<!-- Modal para cambiar la foto de perfil -->
<div id="changePhotoModal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close-button" onclick="closeModal('changePhotoModal')">&times;</span>
        <h2>Cambiar Foto de Perfil</h2>
        <div class="image-container">
            <img id="image" src="" style="max-width: 100%;">
        </div>
        <input type="file" id="profilePic" name="profilePic" accept="image/*" required onchange="loadImage(event)">
        <button type="button" onclick="cropImage()">Usar Foto</button>
    </div>
</div>

<!-- Modal para Cambiar Nombre -->
<div id="changeNameModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('changeNameModal')">&times;</span>
        <h2>Cambiar Nombre</h2>
        <form id="changeNameForm">
            <input type="text" id="newUsername" name="newUsername" placeholder="Nuevo nombre de usuario">
            <button type="submit">Cambiar nombre</button>
        </form>
    </div>
</div>

<!-- Modal para Cambiar contraseña -->
<div id="changePasswordModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('changePasswordModal')">&times;</span>
        <h2>Cambiar Contraseña</h2>
        <form id="changePasswordForm">
            <input type="password" id="currentPassword" placeholder="Contraseña actual" required>
            <input type="password" id="newPassword" placeholder="Nueva contraseña" required>
            <input type="password" id="confirmNewPassword" placeholder="Confirmar nueva contraseña" required>
            <button type="submit">Cambiar contraseña</button>
        </form>
    </div>
</div>


    <script src="/dash-bca/js/dashboard.js"></script>
    <script src="/dash-bca/js/menu.js"></script>
    <script src="/dash-bca/js/register.js"></script>
    <script src="/dash-bca/js/modaldashboard.js"></script>


</body>
</html>
