<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/dash-bca/css/dashboard.css">
    <link rel="stylesheet" href="/dash-bca/css/modalessidebar.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/dash-bca/images/BCA COLOR.png" alt="Logo de la Empresa">
        </div>
        <div class="user-menu">
            <img src="<%= profilePic %>" alt="Perfil" class="profile-pic" onclick="toggleProfileMenu()">
            <div class="user-info">
                <span class="username"><%= username %></span>
            </div>
        </div>
        
        <div class="dropdown-menu" id="profileMenu">
            <a href="#" class="modal-button" data-target="changePhotoModal">Cambiar Foto</a>
            <a href="#" class="modal-button" data-target="changeNameModal">Cambiar Nombre</a>
            <a href="#" class="modal-button" data-target="changePasswordModal">Cambiar Contraseña</a>
            <a href="#" id="registerLink">Registrar Usuario</a>
            <a href="/dash-bca/logout">Cerrar Sesión</a>
        </div>
        
        </div>
    </header>

 <nav>
   <ul>
    <li><a href="#" data-target="inicio">Inicio</a></li>
    <li><a href="#" data-target="pagoUnico">Pago Único</a></li>
    <li><a href="#" data-target="pagoMensual">Pago Mensual</a></li>
    <li><a href="#" id="openNuevoClienteModal" data-target="nuevoClienteModal">Registrar Cliente</a></li>
    <li><a href="#" id="openVerClientesModal" data-target="verClientesModal">Ver Clientes</a></li>
    <li><a href="#" data-target="cuentaUsuario">Cuenta de Usuario</a></li>
</ul>

</nav>
   
    <main>
        <canvas id="myChart"></canvas>
    </main>

    <div id="content">
        <!-- Aquí se cargará el contenido dinámico -->
    </div>    
    

<!-- MODAL PARA CAMBIAR LA FOTO DE PERFIL -->
<div id="changePhotoModal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close-button" onclick="closeModal('changePhotoModal')">&times;</span>
        <h2>Cambiar Foto de Perfil</h2>
        <div class="image-container">
            <img id="image" src="" style="max-width: 100%;">
        </div>
        <input type="file" id="profilePic" name="profilePic" accept="image/*" required onchange="loadImage(event)">
        <button type="button" onclick="cropImage()">Usar Foto</button>
    </div>
</div>
<!------------------------------------------------------------->

<!-- MODAL PARA CAMBIAR NOMBRE -->
<div id="changeNameModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('changeNameModal')">&times;</span>
        <h2>Cambiar Nombre</h2>
        <form id="changeNameForm">
            <input type="text" id="newUsername" name="newUsername" placeholder="Nuevo nombre de usuario">
            <button type="submit">Cambiar nombre</button>
        </form>
    </div>
</div>
<!------------------------------------------------------------->

<!-- MODAL PARA CAMBIAR CONTRASEÑA -->
<div id="changePasswordModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal('changePasswordModal')">&times;</span>
        <h2>Cambiar Contraseña</h2>
        <form id="changePasswordForm">
            <input type="password" id="currentPassword" placeholder="Contraseña actual" required>
            <input type="password" id="newPassword" placeholder="Nueva contraseña" required>
            <input type="password" id="confirmNewPassword" placeholder="Confirmar nueva contraseña" required>
            <button type="submit">Cambiar contraseña</button>
        </form>
    </div>
</div>
<!------------------------------------------------------------->

<!-- MODAL DE PARA CREAR NUEVO CLIENTE -->
<div id="mensajeExito" class="mensaje-exito" style="display: none;">
    Cliente agregado con éxito
</div>
<div id="nuevoClienteModal" class="Clientemodal" style="display: none;">
    <div class="nuevoCliente-modal-content"> 
        <h2>Nuevo Cliente</h2>
        <form id="nuevoClienteForm">
            <div class="nuevoCliente-form-group-row">
                <div class="nuevoCliente-form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre" class="nuevoCliente-form-control" required>
                </div>
                <div class="nuevoCliente-form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" id="apellido" name="apellido" class="nuevoCliente-form-control" required>
                </div>
                <div class="nuevoCliente-form-group">
                    <label for="dni">DNI</label>
                    <input type="text" id="dni" name="dni" class="nuevoCliente-form-control" required>
                </div>
            </div>
            <div class="nuevoCliente-form-group-row">
                <div class="nuevoCliente-form-group">
                    <label for="nombreEmpresa">Nombre de la Empresa</label>
                    <input type="text" id="nombreEmpresa" name="nombreEmpresa" class="nuevoCliente-form-control">
                </div>
                <div class="nuevoCliente-form-group">
                    <label for="email">Correo</label>
                    <input type="email" id="email" name="email" class="nuevoCliente-form-control" required>
                </div>
                <div class="nuevoCliente-form-group">
                    <label for="telefono">Teléfono</label>
                    <input type="text" id="telefono" name="telefono" class="nuevoCliente-form-control" required>
                </div>
            </div>
            <div class="nuevoCliente-form-group-row">
                <div class="nuevoCliente-form-group">
                    <label for="direccion">Dirección</label>
                    <input type="text" id="direccion" name="direccion" class="nuevoCliente-form-control">
                </div>
                <div class="nuevoCliente-form-group">
                    <label for="ciudad">Ciudad</label>
                    <input type="text" id="ciudad" name="ciudad" class="nuevoCliente-form-control">
                </div>
                <div class="nuevoCliente-form-group">
                    <label for="codigoPostal">Código Postal</label>
                    <input type="text" id="codigoPostal" name="codigoPostal" class="nuevoCliente-form-control">
                </div>
            </div>
            <div class="nuevoCliente-form-group-row">
                <div class="nuevoCliente-form-group">
                    <label for="pais">País</label>
                    <input type="text" id="pais" name="pais" class="nuevoCliente-form-control">
                </div>
                <div class="nuevoCliente-form-group">
                    <label for="website">Website</label>
                    <input type="text" id="website" name="website" class="nuevoCliente-form-control">
                </div>
                <div class="nuevoCliente-form-group">
                    <label for="serviciosContratados">Servicios Contratados</label>
                    <input type="text" id="serviciosContratados" name="serviciosContratados" class="nuevoCliente-form-control">
                </div>
            </div>
            <div class="nuevoCliente-form-group-row">
                <div class="nuevoCliente-form-group">
                    <label for="tipoContacto">Este contacto es...</label>
                    <div class="tipoContacto-radio">
                        <label><input type="radio" name="tipoContacto" value="persona" checked> Persona</label>
                        <label><input type="radio" name="tipoContacto" value="empresa"> Empresa</label>
                    </div>
                </div>
                <div class="nuevoCliente-form-group">
                    <label for="fechaContratacion">Fecha de Contratación</label>
                    <input type="date" id="fechaContratacion" name="fechaContratacion" class="nuevoCliente-form-control">
                </div>
                <div class="nuevoCliente-form-group">
                    <label for="tags">Tags</label>
                    <input type="text" id="tags" name="tags" class="nuevoCliente-form-control">
                </div>
            </div>
            <div class="nuevoCliente-form-group">
                <label for="notas">Notas/Observaciones</label>
                <textarea id="notas" name="notas" rows="4" class="nuevoCliente-form-control"></textarea>
            </div>
            <button type="submit" class="nuevoCliente-btn">Crear</button>
        </form>
    </div>
</div>
<!------------------------------------------------------------->

<!-- MODAL DE PARA VER A LOS CLIENTES -->

<div id="verClientesModal" class="Clientemodal" style="display: none;">
    <div class="nuevoCliente-modal-content">
        <h2>Lista de Clientes</h2>
        <table id="tablaClientes">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                    <th>Nombre de la Empresa</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th>Ciudad</th>
                    <th>Código Postal</th>
                    <th>País</th>
                    <th>Website</th>
                    <th>Servicios Contratados</th>
                    <th>Fecha de Contratación</th>
                    <th>Tipo de Contacto</th>
                    <th>Tags</th>
                    <th>Notas</th>
                </tr>
            </thead>
            <tbody>
                <!-- botones de editar -->
            </tbody>
        </table>
    </div>
</div>





    <script src="/dash-bca/js/dashboard.js"></script>
    <script src="/dash-bca/js/menu.js"></script>
    <script src="/dash-bca/js/register.js"></script>
    <script src="/dash-bca/js/modaldashboard.js"></script>
  


</body>
</html>
